body {
	background: #FFF;
	font-family: 'Open Sans', sans-serif;	
	overflow-y: scroll;
}

.container-fluid {
	padding: 0;
}

nav ul.pagination li {
	text-align: center;
}

.wide {

}

.row {
	margin: 0;
}


#hWrapper {
	background: #7CB342;
	position: absolute;
	top: 0;
	z-index: 20;
	width: 100%;
}

#wrapper {
	margin-top: 100px;
}

/* Posts menu */

#postsMenu {

}
#postsMenu a {
	color: #FFF;
}

#catNav {
	background: #7CB342;
	overflow: auto;	
}

#catNav, #orderNav {
	text-align: center;
	list-style-type: none;
}

#catNav li {
	float: left;

}


#catNav a {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#catNav a, #orderNav a {
	padding: 10px;
	width: 130px;
	float: left;
}

#catNav a.active {
	background: #8BC34A;
}

#orderNav a.active {
	text-decoration: underline;
}

#orderNav {
	list-style-type: none;
	overflow: auto;
	background: #8BC34A;
}
#orderNav li {
}

#orderNav a {
}

/* Voting */
.up.arrow, .down.arrow {
	width: 31px;
	height: 27px;
	overflow: hidden;
	position: relative;
}

.up.arrow {
	background: url("../img/uparrow.png") 0 0;
}

.up.arrow:hover {
	background: url("../img/uparrow.png") 0 -27px;
	cursor: pointer;
}

.down.arrow {
	margin-top: 10px;
	background: url("../img/downarrow.png") 0 0;
}

.down.arrow:hover {
	background: url("../img/downarrow.png") 0 -27px;
	cursor: pointer;
}

.arrow.up.hasVoted_1, .arrow.up.hasVoted_1:hover {
	background: url("../img/greyarrow.png") 0 -27px;
}

.arrow.up.hasVoted_-1, .arrow.up.hasVoted_-1:hover {
	background: url("../img/greyarrow.png") 0 0px;
}

.arrow.down.hasVoted_-1, .arrow.down.hasVoted_-1:hover {
	background: url("../img/greyarrow.png") 0 -27px;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.arrow.down.hasVoted_1, .arrow.down.hasVoted_1:hover {
	background: url("../img/greyarrow.png") 0 0px;
	-moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

/* PROFILE */
.profilePicture {
	max-width: 200px;
}