@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	background: #DCEDC8;
	font-family: 'Open Sans', sans-serif;	
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'caviar_dreamsbold', sans-serif;
}

#hwrapper {
	width: 100%;
	background: #AED581;
	height: 90px;
	clear: both;
	position: relative;
	z-index: 10;
	-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.50);
	-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.50);
	box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.50);
}

header {
	width: 960px;
	margin: 0 auto;
}

header img {
	float: left;
}

header nav {
	float: right;
	margin-top: 60px;
	padding:0 10px;
}

header #logo {
	margin: 5px;
}

#catNav a {
	margin: 5px;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background: #F9FBE7;
	overflow: auto;
	clear: both;
	padding: 20px 0;
}

.postbox {
}

.up.arrow, .down.arrow {
	width: 31px;
	height: 27px;
	overflow: hidden;
	position: relative;
}

.up.arrow {
	background: url("../img/uparrow.png") 0 0;
}

.up.arrow:hover {
	background: url("../img/uparrow.png") 0 -27px;
	cursor: pointer;
}

.down.arrow {
	margin-top: 10px;
	background: url("../img/downarrow.png") 0 0;
}

.down.arrow:hover {
	background: url("../img/downarrow.png") 0 -27px;
	cursor: pointer;
}

.arrow.hasVoted {
	background: #F00;
}

.profilePicture {
	max-width: 200px;
}


/* PAGINATION */
.pagination div {
	float: left;
	min-height: 1px;
}

.rightPag {
	float: right;
}

.nrPag {
	text-align: center;
}

.nrPag a {
	margin: 4px;
}


/* General */
.bold {
	font-weight: bold;
}